<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteBase /PostDesk/
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^(.*)$ index.cgi?_url=/$1 [QSA,L]
</IfModule>